.todiscount {font-size: 1em;}+7

.todiscount-main {
	overflow: hidden;
    border: 4px solid #efefef;
    margin: 15px auto;
	color: #111;
	background: #fff;
	}
	
.todiscount p, .todiscount span, .todiscount td {color: #111;}
	
/*Таблица со скидками на текущий заказ*/
.todiscount-order {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.order-discounts td {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
	padding: 0.5em;
	position: relative;
}
.todiscount-main .order-discounts thead tr td {border-top: none;}

.header_auth {
     border: none;
	 display: none;
}

/* Показать Лео*/
a.js-products-list-link[href*="list=favorites"]{
  display: none !important;
}


/* Показать Лео */
.header-nav-custom-pr .js-preview-compare{
  display: none !important;
}



.header_cart {
     display: none;
}


/*Таблица с накопительными скидками*/
.customer-discounts td {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
	padding: 0.5em;
	position: relative;
}
.todiscount-main .customer-discounts thead tr td {border-bottom:none}
.todiscount-main .customer-discounts tbody tr:last-child td {border-bottom: none}
.customer-discounts-more + .todiscount-customer .customer-discounts thead tr td {border-top: 1px solid #efefef;}


/*Общие стили оформления для таблиц скидок*/
.customer-discounts, .order-discounts {
    border-right: 1px solid #efefef;
	padding: 0px;
	background: #fff;
}

.todiscount-main .customer-discounts, .todiscount-main .order-discounts {
	float: left;
	width: 50%;
	margin: 0px;
}

.customer-discounts thead tr td, .order-discounts thead tr td {font-weight: bold;}



/*Блок с призывом "купить ещё", чтобы получить скидку*/
.customer-total, .order-total, .category-total {
    text-align: center;
    padding: 20px 10px;
    background: #efefef;  /*Фон блока*/
    box-sizing: border-box;
	margin: 0;
}

.todiscount-main .customer-total, .todiscount-main .order-total {
	float: left;
    width: 46%;
	margin: 2%;
}

.todiscount .sum, .todiscount .discount {
	font-size: 1.2em;
	font-weight: bold;
	white-space: nowrap;
}
	
	
	
/*Строка таблицы "Ваша скидка"*/
.customer-discounts .select td, .order-discounts .select td, .customer-discounts .select span, .order-discounts .select span {
  color:red;
}


/*Всплывающие подсказки*/
.order-discounts thead tr td span, .customer-discounts thead tr td span {
	font-family: arial, helvetica;
	font-weight: bold;
	display: inline-block;
    font-size: 11px;
    background: red;
	background: rgba(255, 0, 0, 0.75);
    color: #fff;
    width: 8px;
    height: 9px;
    cursor: default;
    border-radius: 50%;
    padding: 3px 3px 3px 4px;
    line-height: 11px;
	box-sizing: content-box;
	cursor:pointer;
}
.order-discounts thead tr td em, .customer-discounts thead tr td em {
    font-weight: normal;
    font-size: 10px;
}

.customer-discounts-more {clear: both;padding: 0.5em 0.5em 1em 0.5em;margin: 0;}
.customer-discounts-more a {border-bottom: 1px dashed; text-decoration: none}

.customer-discounts tbody td, .order-discounts tbody td {
	white-space: nowrap;
}

/* media */
@media only screen and (max-width: 768px) {
	.todiscount-order {
		-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
	}
	.todiscount-main .customer-discounts, .todiscount-main .order-discounts {
		width: 100%;
	}
	.todiscount-main .customer-total, .todiscount-main .order-total {
		width: calc(100% - 4%);
	}
}


.map-wrapper{
  display: flex;
  justify-content: center;
}

.map-wrapper iframe{
  max-width: 1200px;   /* или 100%, если хочешь на всю ширину */
  width: 100%;
}




.cat-menu__el-link {
	cursor: default;
}



.main-slider-photos_el-content {
cursor:default;
}


.promos-tile__el {
cursor:default;
}

.js-product-tile,
.js-product-cart-preview,
.js-tile-gallery {
  pointer-events: none;
}


.pr-stock,
.product-saving,
.product-discount,
 {
  display: none !important;
}


.infoblocks_item .text-link {
	text-decoration: underline !important;
}


/* Бренды левая стрелка
.owl-prev {
	display:none !important;
}


Бренды правая стрелка*/
/* .owl-next {
	display:none !important;
} */

/*Бренды убрать курсор */
.js-brands-carousel a,
.js-brands-carousel img {
    cursor: default !important;
}

/*Бренды убрать grab руку */
.js-brands-carousel,
.js-brands-carousel * {
    cursor: default !important;
}


.old-price {
    display: none;
}
.product-tile_discounts {
    display: none;
}
.product-tile_cart {
    display: none;
}


/* Стрелки у карусели наших брендов */
.js-brands-mainpage-direction .owl-next,
.js-brands-mainpage-direction .owl-prev {
    display: none !important;
}


/*Кнопка выгрузить товары */
#cp_btn,
#cp_widget,
.cp_btn,
.cp_widget,
.cp_container {
  display: none !important;
}
/* Иконка дефолт курсор */
.infoblocks_item-icon {
	cursor:default !important;
}

.infoblocks_item_title {
	cursor:pointer;
}


.infoblocks_item-text {
	cursor:default !important;
}

.product-tile_name {
       height: 75px;
}